.select .main {
    display: inline-block;
    border: 1px solid black;
    min-width: 10px;
    min-height: 5px;
}

.items {
    position: absolute;
    border: 1px solid black;
    padding: 5px;

}

.item.selected {
    background-color: green;
    color: white;
}